@use '../../custom' as *;
@use '../../components/mixins' as *;

#mission {
    height: fit-content;
    margin-top: 75px;
    padding: 10vh 115px;

    h3 {
        color: $primary;
    }

    .down-arrows {
        padding: 10vh 0;

    }

    #sections {
        height: fit-content;
        margin-bottom: 35px;

        h4 {
            margin-top: 20px;
        }

        .section {
            
            
            div {
                width: 60%;
                height: 60%;
                padding: 20px;
                margin: 10px auto;

                img {
                    width: 50%;
                    height: auto;
                    margin-bottom: 20px;
                }

                h5 {
                    text-transform: uppercase;
                    font-weight: lighter;
                }
            }

        }
    }
}

@media only screen and (max-width: 900px) {
    #mission {
        height: 90%;
        margin: 0;

        .down-arrows {
            padding: 15px 0;
        }

        #sections {
            h4 {
                margin-top: 0;
            }

            .section {
                

                div {
                    width: 100%;
                    height: fit-content;
                    padding: 10;
                    margin: 0;
                    
                    // centralize items
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 64px;
                        height: auto;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    #mission {
        min-height: 200%;
        margin: 20px 0 180% 0;

        .down-arrows {
            padding: 20px 0;
        }

        #sections {

            h4 {
                margin-top: 0;
            }

            .section {
                div {
                    width: 100%;
                    height: fit-content;
                    padding: 10;
                    margin: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    #mission {
        margin-bottom: 190%;
    }
}
