@use '../../components/mixins' as *;
@use '../../custom' as *;

#deposit {
    color: $primary;
    margin: 65px 0;
    padding: 0 115px;

    textarea {
        resize: none;
    }

    .btn {
        width: 100%;
        margin-bottom: 1.5rem;
    }


}