@use '../../components/mixins' as *;
@use '../../custom' as *;

#deposit {
    color: $primary;
    margin: 65px 0;
    padding: 0 115px;

    textarea {
        resize: none;
    }

    .btn {
        width: 100%;
        margin-bottom: 1.5rem;
    }

}
    
@media only screen and (max-width: 900px) {
    #deposit {
        padding: 100px 20px;
        min-height: 70vh;
    }
}

@media only screen and (max-width: 600px) {
    #deposit {
        padding: 10px;
    }
}