@use '../../custom' as *;
@use '../../components/mixins' as *;

#about {
    height: max-content;
    margin: 65px 0;
    padding: 0 115px;

    section {
        height: fit-content;
        margin: 0;
        padding: 65px 0;
        
        h1 {
            padding-top: 2rem;
            font-size: 4.5rem;
        }

        h2 {
            font-size: 4rem;
        }

        p {
            font-size: 1.2rem;
        }

        // &:nth-child(2) {
        //     text-align: right;
        // }
        
        .how-we-do-it {

            .col-md-4 div {
                height: fit-content;
                border: 5px solid $secondary;
                border-radius: 10px;
                padding: 4rem 20px;
                transition: all;
                transition-duration: 0.5s;

                &:hover {
                    border-color: $primary;
                }
            }
        }

        button:hover {
            background-color: $secondary;
            border-color: $secondary;
        }
            
    }
}

@media only screen and (max-width: 900px) {
    #about {
        padding: 0 10px;
    
        section {
            
            h1 {
                padding-top: 2rem;
                font-size: 3.5rem;
            }
    
            h2 {
                font-size: 3rem;
            }
    
            p {
                font-size: 1rem;
            }
            
            img {
                width: 100%;
            }
            
            .how-we-do-it {
    
                .col-md-4 div {
                    height: fit-content;
                    border: 5px solid $secondary;
                    border-radius: 10px;
                    padding: 1rem 20px;
                }
            }
                
        }

        .hwdi {
            height: fit-content;
        }
    }
}

@media only screen and (max-width: 600px) {
    #about {
        padding: 0 10px;
        color: $primary;
    
        section {
            height: fit-content;
            margin: 70px 0 !important;
            padding: 10px;
            
            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            
            h1 {
                padding-top: 2rem;
                font-size: 3.5rem;
            }
    
            h2 {
                font-size: 3rem;
            }
    
            p {
                font-size: 1rem;
            }

            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
            }
            
            .how-we-do-it {
    
                .col-md-4 div {
                    height: fit-content;
                    margin: 10px auto;
                }
            }
                
        }

        .hwdi {
            height: fit-content;
            
            h2 {
                font-size: 2.5rem;
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    #about {    
        section {            
            h1 {
                padding-top: 2rem;
                font-size: 2.5rem;
                text-align: center;
                width: 100%;
            }
    
            h2 {
                font-size: 2rem;
            }
                
            .how-we-do-it {
    
                .col-md-4 div {
                    height: 115px;
                    margin: 10px auto;
                }
            }
                
        }

        .hwdi {
            height: 100vh;
        }
    }
}
