@use '../custom' as *;
@use '../components/mixins' as *;

.navbar {
    position: sticky;
    left: 0;
    top: 0;
    height: 70px;
    background-color: #fff;
    z-index: 1000;
    @include bottomBorder;

    .container {
        padding: 0 10vmin;
    }
    
	img {
        width: 42px;
        height: auto;
	}

    .navbar-brand {
        font-size: 1.2rem;
    }

    input {
        width: 70vh;
        color: $black-light;
        @include shadow;
    }
    
    a {
        color: $primary;
        
        &:hover {
            color: $secondary;
        }
    }
    
    .btn {
        background-color: $primary-light;
        color: #fff;
        border-radius: 0px;
        
        &:hover {
            background-color: #fff;
            color: $primary;
        }
    }

    .nav-item {
        padding: 0 5px;

        img {
            width: 32px;
            height: auto;
            border-radius: 50%;
        }

        .nav-link {
            font-size: 0.9rem;
        }
    }

    .profile-pic {
        padding-top: 4px !important;
    }
}

@media only screen and (max-width: 900px) {
    .navbar {
        height: 70px;
        padding: 0 10px;

        .container {
            padding: 0;
        }

        img {
            width: 52px;
            height: auto;
        }
    
        input {
            width: 100%;
        }

        .nav-link {
            padding: 5px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .navbar {
        height: 10vh;

        img {
            width: 44px;
            height: auto;
        }
    
        input, .btn {
            display: none;
        }

        .nav-item {
            padding: 0;
            .nav-link {
                padding: 5px;
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    .navbar {
        height: 60px;
        width: 100%;
        padding: 0 10px;

        .navbar-brand {
            font-size: 0.9rem;
        }

        img {
            width: 44px;
            height: auto;
        }
    
        input, .btn {
            display: none;
        }

        .nav-item {
            padding: 0;
            .nav-link {
                padding-left: 5px;
                font-size: 0.75rem;
            }
        }
    }
}
