@use '../../components/mixins' as *;
@use '../../custom' as *;

#clusters {
    margin-top: 3rem;
    color: $primary;

    h2 {
        color: $secondary;
    }

    .cluster {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        padding: 20px 10px;
        margin: 20px 10px;
        transition: .1s;
        background-color: $primary;

        span {
            display: block;
        }

        a {
            text-decoration: none;
            color: #fff;
        }

        &:hover {
            border: none;
            box-shadow: 2px 2px 15px $secondary, 2px 2px 5px $secondary;
        }
    }


}