@use '../../custom' as *;
@use '../../components/mixins' as *;

#faq {
    height: max-content;
    margin: 65px 0;
    padding: 0 115px;
    color: $primary;

    section {
        margin: 5vh 0 7vh;
        
        h1 {
            padding-top: 2rem;
            font-size: 4.5rem;
        }

        h1 + p {
            color: $secondary;
        }

        h3 {
            font-size: 2rem;
        }

        p {
            font-size: 1.2rem;
        }

    }
}

@media only screen and (max-width: 900px) {
    #faq {
        padding: 5vh;
    
        section {
            margin: 2vh 0 3vh;
            
            h1 {
                padding-top: 1rem;
                font-size: 2.5rem;
            }
    
            h1 + p {
                color: $secondary;
            }
    
            h3 {
                font-size: 2rem;
            }
    
            p {
                font-size: 1rem;
            }
    
        }
    }
}

@media only screen and (max-width: 600px) {
    #faq {
        height: fit-content;
        margin-bottom: 0;
        padding: 0 10px;
    
        section {
            margin: 5vh 0 7vh;
            
            h1 {
                padding-top: 2rem;
                font-size: 3.5rem;
            }
    
            h1 + p {
                color: $secondary;
            }
    
            h3 {
                font-size: 2rem;
            }
    
            p {
                font-size: 1rem;
            }
    
        }
    }
}
