@use '../../components/mixins' as *;
@use '../../custom' as *;

#create-account {
    margin-top: 3rem;
    color: $primary;

    .btn {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .success {
        img {
            width: 40%;
        }
    }
}

@media only screen and (max-width: 900px) {
    #create-account {
        .success {
            img {
                width: 60%;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    #create-account {
        .success {
            img {
                width: 70%;
            }
        }
    }
}
