@use '../../components/mixins' as *;
@use '../../custom' as *;

#users {
    margin-top: 3rem;
    color: $primary;

    h2 {
        color: $secondary;
    }

    .user {
        display: flex;
        flex-direction: column;
        border: 1px solid lightgray;
        padding: 20px;
        margin: 20px 10px;
        transition: .15s;
        height: 200px;

        span {
            display: block;
        }

        a {
            text-decoration: none;
            //color: #fff;
        }

        &:hover {
            //border: none;
            //box-shadow: 2px 2px 15px $secondary, 2px 2px 5px $secondary;
            transform: scale(1.1);
        }
    }


}