@use '../../components/mixins' as *;
@use '../../custom' as *;

#join {
    margin-top: 3rem;
    color: $primary;
    
    form {
        margin-top: 1.5rem;

        input {
            font-size: 1.2rem;
            text-align: center;
        }
    }

    .btn {
        width: 100%;
        margin-bottom: 1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    #join {
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}