@use '../../components/mixins' as *;
@use '../../custom' as *;

#login {
    margin-top: 3rem;
    color: $primary;
    
    form {
        margin-top: 1.5rem;
    }

    .btn {
        width: 100%;
        margin-bottom: 1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    #login {
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .col-md-6 {
            width: 100%;
            padding: 0;
        }
    }
}